.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.List{
    display: flex;
    list-style: none;
    gap: 15px;
}
li{
    cursor: pointer;
}
li:hover{
    color: red;
}
.logo{
    height: 45px;
    width: 45px;
}
.all{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    padding-left: 20px;
}
.image1{
    height: 40vh;
    width: 15vw;
}
.div1{
    display: flex;
    gap: 20px;
    margin-top: 10px;

}
.item1{
    font-size: 75px;
    background-color: bisque;
    padding-left: 25px;
    padding-right:25px ;
    border-radius: 10px;
    font-size: xx-small;
}
