@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;  }
.Navbardiv1{
    display: flex;
    justify-content: space-between;
    background-color: blue;
   
}
h1{
    color: white;
    font-size: medium;
    margin-top: 20px;
    padding-left: 15px;


}
.list1{
    margin-top: 20px;
    color: white;
    display: flex;
    gap: 25px;
    list-style: none;

}
.divlogo{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px;
    color: white;
}
.logo{
    background-color: white;
    border: 1px;
    outline: none;
}